.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* top and left for fixed position at the top */
    background-color: #703B09;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    /* has to be lower than the backdrop */
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 80%;
}
/* I do have that logo class defined in three different files but due to css modules, this is actually converted to three different css classes so that they don't interfere. */